[submodule "dot.vim/bundle/pathogen"]
	path = dot.vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "dot.vim/bundle/fugitive"]
	path = dot.vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dot.vim/bundle/surround"]
	path = dot.vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "fuzzyfinder"]
	path = fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "dot.vim/bundle/nerdtree"]
	path = dot.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dot.vim/bundle/fuzzyfinder"]
	path = dot.vim/bundle/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "dot.vim/bundle/nerdcommenter"]
	path = dot.vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "dot.vim/bundle/syntastic"]
	path = dot.vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "dot.vim/bundle/snipmate"]
	path = dot.vim/bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "dot.vim/bundle/gundo"]
	path = dot.vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "dot.vim/bundle/tabular"]
	path = dot.vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "dot.vim/bundle/matchit"]
	path = dot.vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "dot.vim/bundle/easymotion"]
	path = dot.vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "dot.vim/bundle/yankring"]
	path = dot.vim/bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "dot.vim/bundle/L9"]
	path = dot.vim/bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "dot.vim/bundle/scrollcolors"]
	path = dot.vim/bundle/scrollcolors
	url = git://github.com/vim-scripts/ScrollColors.git
[submodule "dot.vim/bundle/coffee-script"]
	path = dot.vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "dot.vim/bundle/javascript"]
	path = dot.vim/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "dot.vim/bundle/git"]
	path = dot.vim/bundle/git
	url = git://github.com/tpope/vim-git.git
[submodule "dot.vim/bundle/ctrlp"]
	path = dot.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "dot.vim/bundle/ack"]
	path = dot.vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "dot.vim/bundle/mango"]
	path = dot.vim/bundle/mango
	url = https://github.com/goatslacker/mango.vim.git
[submodule "dot.vim/bundle/vim-statline"]
	path = dot.vim/bundle/vim-statline
	url = https://github.com/millermedeiros/vim-statline.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule "dot.vim/bundle/markdown"]
	path = dot.vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "dot.vim/bundle/openurl"]
	path = dot.vim/bundle/openurl
	url = https://github.com/kenkov/openurl.vim.git
[submodule "dot.vim/bundle/scratch"]
	path = dot.vim/bundle/scratch
	url = https://github.com/vim-scripts/scratch.vim.git
[submodule "dot.vim/bundle/json"]
	path = dot.vim/bundle/json
	url = https://github.com/leshill/vim-json.git
[submodule "dot.vim/bundle/vim-haml"]
	path = dot.vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml
[submodule "dot.vim/bundle/vim-unimpaired"]
	path = dot.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "dot.vim/bundle/tagbar"]
	path = dot.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "dot.vim/bundle/tlib_vim"]
	path = dot.vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "dot.vim/bundle/vim-addon-mw-utils"]
	path = dot.vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "dot.vim/bundle/snipmate-snippets"]
	path = dot.vim/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "dot.vim/bundle/vim-fakeclip"]
	path = dot.vim/bundle/vim-fakeclip
	url = https://github.com/kana/vim-fakeclip.git
[submodule "dot.vim/bundle/csapprox"]
	path = dot.vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "dot.vim/bundle/vim-repeat"]
	path = dot.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "dot.vim/bundle/IndexedSearch"]
	path = dot.vim/bundle/IndexedSearch
	url = https://github.com/vim-scripts/IndexedSearch.git
[submodule "dot.vim/bundle/vim-colors-solarized"]
	path = dot.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dot.vim/bundle/vim-less"]
	path = dot.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "dot.vim/bundle/jade"]
	path = dot.vim/bundle/jade
	url = https://github.com/vim-scripts/jade.vim
[submodule "dot.vim/bundle/roy"]
	path = dot.vim/bundle/roy
	url = https://github.com/esehara/Vim-Roy.git
