#xml snippets
#Author: Darcy Parker

snippet xml
	<?xml version="1.0" encoding="UTF-8"?>

#No real need for other snippets for plain xml.
#Instead create snippets for specific types of xml. For example, xslt.snippets
