snippet t "Simple tag" b
<${1:tag}>
	${2:content}
</${1/([\w:._-]+).*/$1/}>
endsnippet

snippet ti "Inline tag" b
<${1:tag}>${2:content}</${1/([\w:._-]+).*/$1/}>
endsnippet

snippet xml "xml declaration" b
<?xml version="1.0" encoding="UTF-8"?>${1}
endsnippet

snippet cdata "CDATA section" b
<![CDATA[
${1}
]]>
endsnippet
